# gitignore template for Drupal projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

/vendor
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/composer.lock
/example.gitignore
/web.config
/node_modules
